In [1]:
#Loads Spreadsheets
import pandas as pd

# Load data from CSV files into separate DataFrames
body_stats_df = pd.read_csv('MarioKartBodyStats.csv')
driver_stats_df = pd.read_csv('MarioKartDriverStats.csv')
glider_stats_df = pd.read_csv('MarioKartGliderStats.csv')
wheel_stats_df = pd.read_csv('MarioKartWheelStats.csv')

In [2]:
body_stats_df.head()

,Vehicle,Type,Weight,Acceleration,On-Road_Traction,Off-Road Traction,Mini-Turbo,Ground_Speed,Water_Speed,Anti-Gravity_Speed,Air_Speed,Ground_Handling,Water Handling,Anti-Gravity_Handling,Air_Handling
0,300 SL Roadster,Kart,2,4,3,3,4,3,3,3,3,3,2,3,3
1,B Dasher,Kart,3,1,3,1,1,5,1,4,2,1,1,2,0
2,Badwagon,Kart,4,0,2,5,0,5,2,3,1,0,1,1,0
3,Biddybuggy,Kart,0,7,1,4,7,0,1,2,1,5,4,5,4
4,Blue Falcon,Kart,0,3,1,3,3,4,2,4,3,2,3,5,1

In [3]:
col = body_stats_df['Acceleration'] + body_stats_df['Ground_Speed']
body_stats_df["New"] = col

In [4]:
body_stats_df.head()

,Vehicle,Type,Weight,Acceleration,On-Road_Traction,Off-Road Traction,Mini-Turbo,Ground_Speed,Water_Speed,Anti-Gravity_Speed,Air_Speed,Ground_Handling,Water Handling,Anti-Gravity_Handling,Air_Handling,New
0,300 SL Roadster,Kart,2,4,3,3,4,3,3,3,3,3,2,3,3,7
1,B Dasher,Kart,3,1,3,1,1,5,1,4,2,1,1,2,0,6
2,Badwagon,Kart,4,0,2,5,0,5,2,3,1,0,1,1,0,5
3,Biddybuggy,Kart,0,7,1,4,7,0,1,2,1,5,4,5,4,7
4,Blue Falcon,Kart,0,3,1,3,3,4,2,4,3,2,3,5,1,7

In [5]:
print (body_stats_df)

              Vehicle           Type  Weight  Acceleration  On-Road_Traction  \
0     300 SL Roadster           Kart       2             4                 3
1            B Dasher           Kart       3             1                 3
2            Badwagon           Kart       4             0                 2
3          Biddybuggy           Kart       0             7                 1
4         Blue Falcon           Kart       0             3                 1
5        Bone Rattler            ATV       4             1                 1
6         Cat Cruiser           Kart       2             5                 4
7     Circuit Special           Kart       3             1                 3
8        City Tripper  Standard Bike       1             6                 3
9               Comet     Sport Bike       2             5                 4
10        Flame Rider  Standard Bike       1             5                 3
11                GLA           Kart       4             0                 2
12      Gold Standard           Kart       2             2                 1
13         Inkstriker            ATV       3             3                 2
14           Jet Bike     Sport Bike       1             2                 1
15        Koopa Clown           Kart       3             2                 4
16           Landship           Kart       0             6                 0
17             Mach 8           Kart       3             3                 2
18       Master Cycle     Sport Bike       2             2                 1
19  Master Cycle Zero  Standard Bike       3             2                 4
20         Mr. Scooty  Standard Bike       0             7                 1
21             P-Wing           Kart       3             1                 3
22         Pipe Frame           Kart       1             6                 3
23            Prancer           Kart       1             2                 1
24            Sneeker           Kart       2             2                 1
25        Splat Buggy            ATV       0             3                 1
26         Sport Bike     Sport Bike       1             2                 1
27       Sports Coupe           Kart       3             3                 2
28       Standard ATV            ATV       4             0                 2
29      Standard Bike  Standard Bike       1             5                 3
30      Standard Kart           Kart       2             4                 3
31       Steel Driver           Kart       4             1                 1
32           Streetle           Kart       0             6                 0
33       Tanooki Kart           Kart       3             2                 4
34        Teddy Buggy            ATV       2             5                 4
35           The Duke  Standard Bike       2             4                 3
36        Tri-Speeder           Kart       4             1                 1
37            Varmint  Standard Bike       1             6                 3
38  W 25 Silver Arrow           Kart       1             5                 3
39       Wild Wiggler            ATV       1             5                 3
40         Yoshi Bike     Sport Bike       2             5                 4

    Off-Road Traction  Mini-Turbo  Ground_Speed  Water_Speed  \
0                   3           4             3            3
1                   1           1             5            1
2                   5           0             5            2
3                   4           7             0            1
4                   3           3             4            2
5                   3           2             4            5
6                   3           5             2            2
7                   1           1             5            1
8                   4           6             1            3
9                   3           5             2            2
10                  5           5             2            2
11                  5           0             5            2
12                  0           3             4            2
13                  4           4             3            3
14                  2           3             4            3
15                  7           3             2            4
16                  6           6             1            5
17                  4           4             3            3
18                  0           3             4            2
19                  7           3             2            4
20                  4           7             0            1
21                  1           1             5            1
22                  4           6             1            3
23                  2           3             4            3
24                  0           3             4            2
25                  3           3             4            2
26                  2           3             4            3
27                  4           4             3            3
28                  5           0             5            2
29                  5           5             2            2
30                  3           4             3            3
31                  3           2             4            5
32                  6           6             1            5
33                  7           3             2            4
34                  3           5             2            2
35                  3           4             3            3
36                  3           2             4            5
37                  4           6             1            3
38                  5           5             2            2
39                  5           5             2            2
40                  3           5             2            2

    Anti-Gravity_Speed  Air_Speed  Ground_Handling  Water Handling  \
0                    3          3                3               2
1                    4          2                1               1
2                    3          1                0               1
3                    2          1                5               4
4                    4          3                2               3
5                    2          0                1               5
6                    3          4                4               2
7                    4          2                1               1
8                    1          1                5               4
9                    3          4                4               2
10                   4          3                4               3
11                   3          1                0               1
12                   3          3                3               2
13                   5          4                2               2
14                   3          3                3               3
15                   3          3                4               4
16                   0          2                4               5
17                   5          4                2               2
18                   3          3                3               2
19                   3          3                4               4
20                   2          1                5               4
21                   4          2                1               1
22                   1          1                5               4
23                   3          3                3               3
24                   3          3                3               2
25                   4          3                2               3
26                   3          3                3               3
27                   5          4                2               2
28                   3          1                0               1
29                   4          3                4               3
30                   3          3                3               2
31                   2          0                1               5
32                   0          2                4               5
33                   3          3                4               4
34                   3          4                4               2
35                   3          3                3               2
36                   2          0                1               5
37                   1          1                5               4
38                   4          3                4               3
39                   4          3                4               3
40                   3          4                4               2

    Anti-Gravity_Handling  Air_Handling  New
0                       3             3    7
1                       2             0    6
2                       1             0    5
3                       5             4    7
4                       5             1    7
5                       1             1    5
6                       3             4    7
7                       2             0    6
8                       4             2    7
9                       3             4    7
10                      4             3    7
11                      1             0    5
12                      3             2    6
13                      4             2    6
14                      2             3    6
15                      3             3    4
16                      2             3    7
17                      4             2    6
18                      3             2    6
19                      3             3    4
20                      5             4    7
21                      2             0    6
22                      4             2    7
23                      2             3    6
24                      3             2    6
25                      5             1    7
26                      2             3    6
27                      4             2    6
28                      1             0    5
29                      4             3    7
30                      3             3    7
31                      1             1    5
32                      2             3    7
33                      3             3    4
34                      3             4    7
35                      3             3    7
36                      1             1    5
37                      4             2    7
38                      4             3    7
39                      4             3    7
40                      3             4    7

In [6]:
# Adds Speed+Acceleration
body_stats_df['total_speed_acceleration'] = body_stats_df['Ground_Speed'] + body_stats_df['Acceleration']
sorted_body_stats_df = body_stats_df.sort_values(by='total_speed_acceleration', ascending=False)
print(sorted_body_stats_df[['Vehicle', 'total_speed_acceleration']])

              Vehicle  total_speed_acceleration
0     300 SL Roadster                         7
16           Landship                         7
39       Wild Wiggler                         7
38  W 25 Silver Arrow                         7
37            Varmint                         7
35           The Duke                         7
34        Teddy Buggy                         7
32           Streetle                         7
30      Standard Kart                         7
29      Standard Bike                         7
25        Splat Buggy                         7
22         Pipe Frame                         7
20         Mr. Scooty                         7
40         Yoshi Bike                         7
3          Biddybuggy                         7
4         Blue Falcon                         7
6         Cat Cruiser                         7
8        City Tripper                         7
9               Comet                         7
10        Flame Rider                         7
24            Sneeker                         6
7     Circuit Special                         6
14           Jet Bike                         6
26         Sport Bike                         6
13         Inkstriker                         6
23            Prancer                         6
21             P-Wing                         6
1            B Dasher                         6
18       Master Cycle                         6
17             Mach 8                         6
12      Gold Standard                         6
27       Sports Coupe                         6
11                GLA                         5
28       Standard ATV                         5
31       Steel Driver                         5
5        Bone Rattler                         5
36        Tri-Speeder                         5
2            Badwagon                         5
19  Master Cycle Zero                         4
33       Tanooki Kart                         4
15        Koopa Clown                         4