In [1]:
import pandas as pd
import random

In [2]:
# Challenge 1
df = pd.read_csv("pirates.csv") # This requires the csv file to be in the same folder as this Jupyter notebook.

In [3]:
# Challlenge 2 - Part 1 & 2
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1000 non-null   int64
 1   sex              1000 non-null   object
 2   age              999 non-null    float64
 3   height           1000 non-null   float64
 4   weight           1000 non-null   float64
 5   headband         999 non-null    object
 6   college          1000 non-null   object
 7   tattoos          1000 non-null   int64
 8   tchests          1000 non-null   int64
 9   parrots          1000 non-null   object
 10  favorite.pirate  999 non-null    object
 11  sword.type       1000 non-null   object
 12  eyepatch         1000 non-null   int64
 13  sword.time       999 non-null    float64
 14  beard.length     1000 non-null   int64
 15  fav.pixar        1000 non-null   object
 16  grogg            1000 non-null   int64
dtypes: float64(4), int64(6), object(7)
memory usage: 132.9+ KB

In [4]:
# Challenge 2 - Part 3
for column in df.columns:
    for row in range(len(df["id"])):
        if pd.isna(df.loc[row, column]):
            print(row + 1)
            print(column)

34
age
1000
headband
635
favorite.pirate
137
sword.time

In [5]:
# Challenge 3
# Technique 1
# This drops all rows that contain a null value

df.dropna()

,id,sex,age,height,weight,headband,college,tattoos,tchests,parrots,favorite.pirate,sword.type,eyepatch,sword.time,beard.length,fav.pixar,grogg
0,1,male,28.0,173.11,70.5,yes,JSSFP,9,0,0,Jack Sparrow,cutlass,1,0.58,16,"Monsters, Inc.",11
1,2,male,31.0,209.25,105.6,yes,JSSFP,9,11,0,Jack Sparrow,cutlass,0,1.11,21,WALL-E,9
2,3,male,26.0,169.95,77.1,yes,CCCC,10,10,1,Jack Sparrow,cutlass,1,1.44,19,Inside Out,7
3,4,female,31.0,144.29,58.5,no,JSSFP,2,0,2,Jack Sparrow,scimitar,1,36.11,2,Inside Out,9
4,5,female,41.0,157.85,58.4,yes,JSSFP,9,6,4,Hook,cutlass,1,0.11,0,Inside Out,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,995,male,34.0,172.45,75.0,yes,JSSFP,9,18,16,Jack Sparrow,cutlass,1,0.16,18,Toy Story 3,10
995,996,male,26.0,178.83,70.8,yes,CCCC,14,11,2,Jack Sparrow,cutlass,0,0.46,20,Up,13
996,997,female,34.0,157.20,53.6,yes,JSSFP,13,48,2,Hook,cutlass,0,0.15,0,Finding Nemo,8
997,998,male,36.0,175.74,72.4,yes,JSSFP,9,95,14,Jack Sparrow,cutlass,1,1.28,18,The Incredibles,11
998,999,male,30.0,175.24,70.2,yes,JSSFP,9,6,0,Lewis Scot,cutlass,1,0.21,24,Inside Out,10

In [6]:
# Challenge 3
# Technique 2
# Drops just the age row that features a null

df.drop(33, inplace=True)

In [7]:
# Challenge 3
# Technique 3
# Reassigns the missing value in age to the mean of ages

df.loc[33, "age"] = df["age"].mean()

In [8]:
# Challenge 3
# Technique 4
# Reassigns the missing value in favorite.pirate to the mode

df.loc[634, "favorite.pirate"] = df["favorite.pirate"].mode()[0]

In [9]:
# Challenge 3
# Technique 5
# Assigns the missing age value to a random integer in the range of the smallest age in the dataset and the largest age in dataset
df.loc[33, "age"] = random.randint(df["age"].min(), df["age"].max())

In [10]:
unique_genders = df['sex'].nunique()

print("Number of unique genders represented in the dataset:", unique_genders)

Number of unique genders represented in the dataset: 3

In [11]:
female_pirates = df[df['sex'] == 'female']
average_age_female_pirates = female_pirates['age'].mean()
print("Average age of female pirates:", average_age_female_pirates)

Average age of female pirates: 29.922246220302377

In [12]:
df['weight_pounds'] = df['weight'] * 2.20462
less_than_100_pounds = df[df['weight_pounds'] < 100]
percentage_less_than_100_pounds = (len(less_than_100_pounds) / len(df)) * 100

print(f"{percentage_less_than_100_pounds:.2f}% of pirates weigh less than 100 pounds (in kilograms).")

0.80% of pirates weigh less than 100 pounds (in kilograms).

In [14]:

tallest_pirate_id = df['height'].idxmax()
tallest_pirate_details = df.loc[tallest_pirate_id]
print("ID of the Tallest Pirate:", tallest_pirate_id)
print("Details of the Tallest Pirate:")
print(tallest_pirate_details)

ID of the Tallest Pirate: 1
Details of the Tallest Pirate:
id                          2.0
sex                        male
age                        31.0
height                   209.25
weight                    105.6
headband                    yes
college                   JSSFP
tattoos                     9.0
tchests                    11.0
parrots                       0
favorite.pirate    Jack Sparrow
sword.type              cutlass
eyepatch                    0.0
sword.time                 1.11
beard.length               21.0
fav.pixar                WALL-E
grogg                       9.0
weight_pounds        232.807872
Name: 1, dtype: object

In [18]:
tallest_pirate_row == df['height'].max()


print("The tallest pirate is:")
print(tallest_pirate_row)

The tallest pirate is:
    id   sex   age  height  weight headband college  tattoos  tchests parrots  \
1  2.0  male  31.0  209.25   105.6      yes   JSSFP      9.0     11.0       0

  favorite.pirate sword.type  eyepatch  sword.time  beard.length fav.pixar  \
1    Jack Sparrow    cutlass       0.0        1.11          21.0    WALL-E

   grogg  weight_pounds
1    9.0     232.807872

In [23]:
average_eye = df['eyepatch'].mean()
md_eye = df['eyepatch'].median()
print (average_eye)
print (md_eye)

0.6576576576576577
1.0

AttributeError: type object 'int' has no attribute 'df'